// Place all the styles related to the candy_store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('candy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {

  text-align: center;
  background-color: #ff66cc;
  width: 100%;
  height: 85px;
  padding-top: 40px;
  border-top: 6px dotted white;
  border-bottom: 6px dotted white;
}

ul {
  background-color: #ff66cc;
  padding: 30px;
  border: 2px dotted white;
  width: 200px;
  margin: 0 40%;
  height: 100%;
}

a {
  color: #fbfb51;
  text-decoration: none;
  font-size: 120%;
  padding: 15px;
  background-color: #ff66cc;
}

a:hover {
  color: #6600ff;
  text-decoration: underline;
}

table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px;
border-collapse:
collapse; border-spacing: 0;
width: 85%;
margin: 90px;
}

td, th { border: 2px solid white; height: 30px; }

th {
background: #a366ff;
font-weight: bold;
}

td {
background: #d1b3ff;
text-align: center;
}

form {
  background: #ffe6ff;
  margin: auto;
  position: relative;
  width: 390px;
  height: 450px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  box-shadow: 0px 0px 8px #660066;
}

.list {
  padding: 10px;
  color: white;
}
